.base-text {
    font-family: monospace; /* Use a monospace font for base text appearance */
    font-size: 14px; /* Adjust font size as needed */
    line-height: 1.5; /* Adjust line height as needed */
    color: black; /* Set text color */
    background-color: #f8f8f8; /* Set background color */
    border: 1px solid #ccc; /* Add a border */
    padding: 10px; /* Add padding */
    border-radius: 4px; /* Add border radius */
  }
  

  /* test{
    color: ;
  } */